<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Iglobal_Stores>
            <version>1.1.1</version>
            <currencies>
                <AED></AED>
                <ARS>&amp;#8371;</ARS>
                <AUD>&amp;#36;</AUD>
                <BRL>R&amp;#36;</BRL>
                <CAD>&amp;#36;</CAD>
                <CHF></CHF>
                <CLP>&amp;#36;</CLP>
                <CNY>&amp;#165;</CNY>
                <DKK>kr.</DKK>
                <EUR>&amp;euro;</EUR>
                <GBP>&amp;pound;</GBP>
                <HKD>&amp;#36;</HKD>
                <HUF></HUF>
                <ILS>&amp;#8362;</ILS>
                <INR>&amp;#8377;</INR>
                <JPY>&#165;</JPY>
                <KWD></KWD>
                <MXN>&amp;#36;</MXN>
                <MYR>RM</MYR>
                <NOK>kr.</NOK>
                <NZD>&amp;#36;</NZD>
                <RUB>r.</RUB>
                <SEK>kr.</SEK>
                <SGD>S&amp;#36;</SGD>
                <THB>&amp;#3647;</THB>
                <TWD>NT&amp;#36;</TWD>
                <USD>&amp;#36;</USD>
            </currencies>
            <countries>
                <AL label="Albania">USD</AL>
                <AS label="American Samoa">USD</AS>
                <AD label="Andorra">EUR</AD>
                <AI label="Anguilla">USD</AI>
                <AG label="Antigua and Barbuda">USD</AG>
                <AR label="Argentina">ARS</AR>
                <AM label="Armenia">USD</AM>
                <AW label="Aruba">USD</AW>
                <AU label="Australia">AUD</AU>
                <AT label="Austria">EUR</AT>
                
                <BS label="Bahamas">USD</BS>
                <BB label="Barbados">USD</BB>
                <BE label="Belgium">EUR</BE>
                <BZ label="Belize">USD</BZ>
                <BM label="Bermuda">USD</BM>
                <BQ label="Bonaire, Sint Eustatius and Saba">USD</BQ>
                <BR label="Brazil">BRL</BR>
                <BG label="Bulgaria">USD</BG>
                
                <KH label="Cambodia">USD</KH>
                <CA label="Canada">CAD</CA>
                <IC label="Canary Islands">EUR</IC>
                <KY label="Cayman Islands">USD</KY>
                <CL label="Chile">CLP</CL>
                <CN label="China">CNY</CN>
                <CR label="Costa Rica">USD</CR>
                <CK label="Cook Islands">NZD</CK>
                <CY label="Cyprus">EUR</CY>
                
                <DK label="Denmark">DKK</DK>
                <DM label="Dominica">USD</DM>
                <DO label="Dominican Republic">USD</DO>
                
                <EC label="Ecuador">USD</EC>
                <SV label="El Salvador">USD</SV>
                <ER label="Eritrea">USD</ER>
                <EE label="Estonia">EUR</EE>
                <ET label="Ethiopia">USD</ET>
                
                <FO label="Faroe Islands">DKK</FO>
                <FI label="Finland">EUR</FI>
                <FR label="France">EUR</FR>
                <GF label="French Guiana">EUR</GF>
                <PF label="French Polynesia">USD</PF>
                
                <DE label="Germany">EUR</DE>
                <GR label="Greece">EUR</GR>
                <GL label="Greenland">DKK</GL>
                <GD label="Grenada">USD</GD>
                <GP label="Guadeloupe">EUR</GP>
                <GU label="Guam">USD</GU>
                <GT label="Guatemala">USD</GT>
                <GY label="Guyana">USD</GY>
                
                <HK label="Hong Kong">HKD</HK>
                <HU label="Hungary">HUF</HU>
                
                <IS label="Iceland">USD</IS>
                <IN label="India">INR</IN>
                <IE label="Ireland">EUR</IE>
                <IL label="Israel">ILS</IL>
                <IT label="Italy">EUR</IT>
                
                <JM label="Jamaica">USD</JM>
                <JP label="Japan">JPY</JP>
                <JO label="Jordan">USD</JO>
                
                <KI label="Kiribati">AUD</KI>
                <KW label="Kuwait">KWD</KW>
                
                <LT label="Lithuania">USD</LT>
                <LU label="Luxembourg">EUR</LU>
                
                <MY label="Malaysia">MYR</MY>
                <MV label="Maldives">USD</MV>
                <MT label="Malta">EUR</MT>
                <MX label="Mexico">MXN</MX>
                <MP label="Northern Mariana Islands">USD</MP>
                <MH label="Marshall Islands">USD</MH>
                <MQ label="Martinique">EUR</MQ>
                <FM label="Micronesia, Federated States of">USD</FM>
                <MD label="Moldova, Republic of">USD</MD>
                <MC label="Monaco">EUR</MC>
                <MS label="Montserrat">USD</MS>
                
                <NL label="Netherlands">EUR</NL>
                <NZ label="New Zealand">NZD</NZ>
                <NI label="Nicaragua">USD</NI>
                <NO label="Norway">NOK</NO>
                
                <PK label="Pakistan">USD</PK>
                <PW label="Palau">USD</PW>
                <PA label="Panama">USD</PA>
                <PY label="Paraguay">USD</PY>
                <PL label="Poland">USD</PL>
                <PT label="Portugal">EUR</PT>
                <PR label="Puerto Rico">USD</PR>
                            
                <RO label="Romania">USD</RO>
                <RU label="Russia">RUB</RU>
                    
                <BL label="Saint Barthélemy">EUR</BL>
                <KN label="Saint Kitts and Nevis">USD</KN>
                <LC label="Saint Lucia">USD</LC>
                <SX label="Saint Maarten">USD</SX>
                <VC label="Saint Vincent and the Grenadines">USD</VC>
                <WS label="Samoa">USD</WS>
                <SM label="San Marino">EUR</SM> 
                <ST label="Sao Tome and Principe">USD</ST>
                <SC label="Seychelles">USD</SC>
                <SG label="Singapore">SGD</SG>
                <SK label="Slovakia">EUR</SK>
                <SI label="Slovenia">EUR</SI>
                <ES label="Spain">EUR</ES>
                <SE label="Sweden">SEK</SE>
                <CH label="Switzerland">CHF</CH>
                
                <TW label="Taiwan">TWD</TW>
                <TH label="Thailand">THB</TH>
                <TC label="Turks and Caicos Islands">USD</TC>
                
                <AE label="United Arab Emirates">AED</AE>
                <GB label="United Kingdom">GBP</GB>
                <US label="United States">USD</US>
                <UY label="Uruguay">USD</UY>
                
                <VU label="Vanuatu">USD</VU>
                <VE label="Venezuela, Bolivarian Republic of">USD</VE>
                <VN label="Viet Nam">USD</VN>
                <VI label="Virgin Islands, U.S.">USD</VI>
                
                <!--<KY>KYD</KY>-->
            </countries>
        </Iglobal_Stores>
    </modules>
    <admin>
        <routers>
            <stores>
                <use>admin</use>
                <args>
                    <module>Iglobal_Stores</module>
                    <frontName>iglobal/admin</frontName>
                </args>
            </stores>
        </routers>
    </admin>
    <global>
        <sales>
            <quote>
                <totals>
                    <tax>
                        <class>stores/sales_quote_address_total_fee</class>
                        <before>subtotal</before>
                    </tax>
                </totals>
            </quote>
        </sales>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <iglobal_stores_prepare_layout_before>
                        <class>stores/observer</class>
                        <method>prepareLayoutBefore</method>
                    </iglobal_stores_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_place_after>
                <observers>
                    <iglobal_stores_model_observer_order_created>
                        <type>singleton</type>
                        <class>Iglobal_Stores_Model_Observer</class>
                        <method>orderCreated</method>
                    </iglobal_stores_model_observer_order_created>
                </observers>
            </sales_order_place_after>

        </events>
        <models>
            <stores>
                <class>Iglobal_Stores_Model</class>
            </stores>
        </models>
        <blocks>
            <stores>
                <class>Iglobal_Stores_Block</class>
            </stores>
            <checkout>
                <rewrite>
                    <onepage_link>Iglobal_Stores_Block_Link</onepage_link>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <stores>
                <class>Iglobal_Stores_Helper</class>
            </stores>
            <checkout>
                <rewrite>
                    <url>Iglobal_Stores_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
        <resources>
            <iglobal_stores_setup>
                <setup>
                    <module>Iglobal_Stores</module>
                    <class>Iglobal_Stores_Model_Resource_Setup</class>
                </setup>
            </iglobal_stores_setup>
        </resources>
    </global>
    <frontend>
       <routers>
            <iglobal>
                <use>standard</use>
                <args>
                    <module>Iglobal_Stores</module>
                    <frontName>iglobal</frontName>
                </args>
            </iglobal>
       </routers> 
        <layout>
            <updates>
                <stores>
                    <file>iglobal.xml</file>
                </stores>
            </updates>
        </layout>
    </frontend>
   <default>
        <payment>
            <iGlobal>
                <active>1</active>
                <model>stores/payment_iglobal</model>
                <order_status>pending</order_status>
                <title>iGlobal International Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </iGlobal>
            <iGlobalCreditCard>
                <active>1</active>
                <model>stores/payment_iglobalcreditcard</model>
                <order_status>pending</order_status>
                <title>iGlobal International Credit Card Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </iGlobalCreditCard>
            <iGlobalPaypal>
                <active>1</active>
                <model>stores/payment_iglobalpaypal</model>
                <order_status>pending</order_status>
                <title>iGlobal International PayPal Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </iGlobalPaypal>
        </payment>

	 <iglobal_integration>
		<apireqs>
			<secret>Your API Code Goes Here</secret>
			<iglobalid>Your Store ID Goes Here</iglobalid>
			<ice_toggle>0</ice_toggle>
            <use_iframe>1</use_iframe>
		</apireqs>
		<igmat>
			<welcome_mat_active>0</welcome_mat_active>
		</igmat>
		<igjq>
			<enabled>0</enabled>
		</igjq>
		<igc_dev>
			<dev_on>0</dev_on>
		</igc_dev>
	</iglobal_integration>

	<general>
		<country>
			<ig_domestic_countries>US</ig_domestic_countries>
		</country>
	</general>
	
    </default>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iglobal_integration>
                                            <title>iGlobal Stores Integration Options</title>
                                        </iglobal_integration>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	 <layout>
		<updates>
			<iglobal>
				<file>iglobal.xml</file>
			</iglobal>
		</updates>
	</layout>
	<!--<events>
		<controller_action_predispatch>
			<observers>
				<iglobal_notification>
					<type>singleton</type>
					<class>stores/ddpd</class>
					<method>observe</method>
				</iglobal_notification>
			</observers>
		</controller_action_predispatch>
	</events> -->
	</adminhtml>
	<!-- <crontab>
        <jobs>
            <iglobal_order_update>
                <schedule><cron_expr>* * */2 * *</cron_expr></schedule>
                <run><model>stores/observer::orderRec</model></run>
            </iglobal_order_update>
        </jobs>
	</crontab> -->
</config>
