<?xml version="1.0"?>

<config>
	<tabs>
		<iglobal translate="label" module="stores">
			<label>iGlobal Stores Configuration</label>
			<sort_order>150</sort_order>
		</iglobal>
	</tabs>

	<sections>
	<general>

		<groups>
		<country>

			<fields>

				<ig_domestic_countries>
					<label>Domestic Shipping Countries</label>
					<comment>Hold down Ctrl to select more than one.  Select each country to which you will ship.  iGlobal will not service these countries, and customers will use your checkout system.</comment>
					<frontend_type>multiselect</frontend_type>
					<source_model>adminhtml/system_config_source_country</source_model>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<can_be_empty>1</can_be_empty>
				</ig_domestic_countries>

			</fields>
		</country>
		</groups>

	</general>
	</sections>

	<sections>
		<iglobal_integration translate="label" module="stores">
			<label>iGlobal Integration Options</label>
			<tab>iglobal</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>

			<groups>
			<apireqs translate="label">
			<label>Store Setup</label>
			<comment><![CDATA[ <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;"><strong>iGlobal wants to help!</strong> You can always <a href="http://academy.iglobalstores.com/" target="_blank">learn more about how we can increase your sales</a> or if you have any questions or problems <a href="http://www.iglobalstores.com/contact-us.html" target="_blank">contact us online</a> or call 1-800-942-0721.<br /></div>]]></comment>
			<frontend_type>text</frontend_type>
			<sort_order>10</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>

				<fields>

					<heading_id translate="label">
						<label>Store Identification</label>
						<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
						<sort_order>10</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
					</heading_id>

					<iglobalid>
						<label>iGlobal Store ID Number</label>
						<comment>Paste the provided 3 digit store number here.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</iglobalid>

					<secret>
						<label>iGlobal API Key</label>
						<comment>Paste the provided API secret security key here.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>30</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</secret>

					<igsubdomain>
						<label>iGlobal Hosted Checkout Subdomain</label>
						<comment>Paste the provided subdomain here.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>35</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</igsubdomain>

					<heading_includes translate="label">
						<label>Included Files</label>
						<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
						<sort_order>40</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>0</show_in_store>
					</heading_includes>

					<ice>
						<label>ICE script</label>
						<comment>Paste the provided link here.  Please Be sure to include "https://" at the begining.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>50</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</ice>

					<ice_toggle>
						<label>Turn on International Checkout?</label>
						<comment>Turn on to enable iGlobal International Checkout. Leave this off until setup and testing has been completed!</comment>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>5</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</ice_toggle>

                    <use_iframe>
                        <label>Embed iGlobal Checkout by iframe?</label>
                        <comment>Embed the iGlobal Checkout into your site, making customers feel more secure by seeing your url and improving the user experience.</comment>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>42</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </use_iframe>

                    <use_ice>
                        <label>Use an iCE Integration File?</label>
                        <comment>Turn on to use an iGlobal Connect Engine Integration Method instead of the default method. This should only be selected if suggested by an iGlobal Integration Specialist.</comment>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>45</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </use_ice>

					<heading_checkout translate="label">
						<label>Checkout Options</label>
						<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
						<sort_order>90</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</heading_checkout>

					<send_order_email>
						<label>Send Order Email</label>
						<comment>Send a confirmation email after the order is placed (iGlobal may also send a confirmation email, depending on the settings you requested)</comment>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>100</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</send_order_email>

					<heading_error translate="label">
						<label>Error Reporting</label>
						<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
						<sort_order>110</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</heading_error>

					<admin_email>
						<label>Admin Email Address</label>
						<comment>This email address will receive notices of errors</comment>
						<frontend_type>text</frontend_type>
						<sort_order>120</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</admin_email>

				</fields>
			</apireqs>

			<igmat translate="label">
			<label>iGlobal Welcome Mat</label>
			<frontend_type>text</frontend_type>
			<sort_order>15</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<comment>
				<![CDATA[ <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">iGlobal's unique welcome mat will recognize your customers' location and automatically tailor their shopping experience to make it seamless and increase your conversions!  If you have any questions or problems <a href="http://www.iglobalstores.com/contact-us.html" target="_blank">contact us online</a> or call 1-800-942-0721.<br /></div>]]>
			</comment>

				<fields>

					<welcome_mat_active translate="label comment">
						<label>Use the Welcome Mat?</label>
						<comment>For testing purposes you may use the default Welcome Mat by leaving the "Welcome Mat Script" field blank.  This may result in poor appearance or strange behavior, and should be used only for testing and development.  Please contact us at 1-800-942-0721 to have use make a customized script to match your site's style and design.</comment>
						<frontend_type>select</frontend_type>
						<source_model>adminhtml/system_config_source_yesno</source_model>
						<sort_order>10</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
					</welcome_mat_active>

					<welcome_mat_script translate="label comment">
						<label>Welcome Mat Script File</label>
						<frontend_type>file</frontend_type>
						<backend_model>adminhtml/system_config_backend_file</backend_model>
						<upload_dir>js/iGlobal</upload_dir>
						<sort_order>20</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<!--<depends><welcome_mat_active>1</welcome_mat_active></depends>-->
					</welcome_mat_script>

					<welcome_mat_css translate="label comment">
						<label>Welcome Mat CSS File</label>
						<frontend_type>file</frontend_type>
						<backend_model>adminhtml/system_config_backend_file</backend_model>
						<upload_dir>js/iGlobal</upload_dir>
						<sort_order>30</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<!--<depends><welcome_mat_active>1</welcome_mat_active></depends>-->
					</welcome_mat_css>

					<flag_parent>
						<label>Flag postition selector</label>
						<comment>Enter the code provided to customize the location of the Welcome Mat flag, or leave blank to use the default location.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>40</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<!--<depends><welcome_mat_active>1</welcome_mat_active></depends>-->
					</flag_parent>

				<!--	<flag_method>
						<label>Flag attachement method</label>
						<comment>Enter the code provided to customize the location of the Welcome Mat flag, or leave blank to use the default location.</comment>
						<frontend_type>select</frontend_type>
						<source_model>iglobal_stores/system_config_source_dropdown_method</source_model>
						<sort_order>41</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<depends>
							<welcome_mat_active>1</welcome_mat_active>
						</depends>
					</flag_method>  -->

					<flag_method>
						<label>Flag insertion method</label>
						<comment>Enter the code provided to customize the location of the Welcome Mat flag, or leave blank to use the default location.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>42</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<!--<depends><welcome_mat_active>1</welcome_mat_active></depends>-->
					</flag_method>

					<flag_code>
						<label>Flag insertion code</label>
						<comment>Enter the code provided to customize the location of the Welcome Mat flag, or leave blank to use the default location.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>42</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<!--<depends><welcome_mat_active>1</welcome_mat_active></depends>-->
					</flag_code>

					<store_logo>
						<label>Your Store's Logo URL</label>
						<comment>Enter the URL provided to customize the look of the welcome mat, showing customers your logo.</comment>
						<frontend_type>text</frontend_type>
						<sort_order>50</sort_order>
						<show_in_default>1</show_in_default>
						<show_in_website>1</show_in_website>
						<show_in_store>1</show_in_store>
						<!--<depends><welcome_mat_active>1</welcome_mat_active></depends>-->
					</store_logo>

				</fields>

			</igmat>

			<igjq translate="label">
			<label>jQuery Settings</label>
			<frontend_type>text</frontend_type>
			<sort_order>20</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<comment>
				<![CDATA[<div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">To avoid conflicts, please select Yes ONLY if you do not currently have jQuery running on your site.  If you are unsure, please contact us at 1-800-942-0721 and we will assist you. </div>]]>
			</comment>

				<fields>

					<enabled translate="label">
					<label>Enabled</label>
					<frontend_type>select</frontend_type>
					<source_model>adminhtml/system_config_source_yesno</source_model>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					</enabled>

                    <iglogging>
                        <label>Turn on iGlobal Logging?</label>
                        <comment>Turn on to enable iGlobal Logging.  This can result in very large log files, so it's best to leave this off unless needed!</comment>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>5</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </iglogging>

				</fields>
			</igjq>

		</groups>

		</iglobal_integration>

		<payment translate="label" module="payment">
			<groups>
				<international translate="label">
					<label>International Order Payment From iGlobal</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<order_status translate="label">
							<label>New Order Status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_new</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<frontend_class>validate-number</frontend_class>
						</sort_order>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						 <allowspecific translate="label">
							<label>Payment from Applicable Countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>50</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific Countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>51</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
						</specificcountry>
						<min_order_total translate="label">
							<label>Minimum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>98</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</min_order_total>
						<max_order_total translate="label">
							<label>Maximum Order Total</label>
							<frontend_type>text</frontend_type>
							<sort_order>99</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</max_order_total>
						<model>
						</model>
					</fields>
				</international>
			</groups>
		</payment>
    </sections>
</config>
